*
!/**/
!*.*
!*Makefile

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Debug files
*.dSYM/

# Swap files
*.swp
*.swo
*.dwo

*_r2
*.ll

*.DS_Store

# QtCreator files
*.pro
*.pro.user
*.pro.user.*

